@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');
body,
.wrapper,
.common {
  padding: 0;
  margin: 0;
}
.navmenu li {
  list-style-type: none;
}
.navmenu li a {
  text-decoration: none;
}
.navmenu li:nth-child(2) ul {
  display: none;
}
.mainText {
  color: #191919;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.mainText--white {
  color: #fff;
  font-weight: 400;
}
.mainText18 {
  color: #fff;
  font-size: 18px;
}
.--h5 {
  color: #1f2837;
  font-size: 25px;
  font-weight: 400;
}
.--h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 2px;
}
.--h6 {
  font-size: 13px;
  font-weight: 600;
}
.--h6--p {
  color: #757575;
  font-size: 12px;
  font-weight: 500;
}
.about--p {
  display: inline-block;
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  width: 460px;
}
.inspection--p {
  color: #fff;
  font-weight: 500;
}
.video--p {
  color: #003399;
}
.service--p {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 550;
}
.adress--p {
  color: #4f4f4f;
  font-weight: 500;
  line-height: 24px;
}
.trust--h3 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 37px;
  letter-spacing: 5px;
  padding-left: 6.3%;
}
.wrapper:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 45.50898204%;
  height: 770px;
  background: #004b9a;
  -webkit-box-shadow: -25px 0 56px 12px rgba(0, 0, 0, 0.33);
          box-shadow: -25px 0 56px 12px rgba(0, 0, 0, 0.33);
  z-index: -1000;
}
.wrapper:after {
  content: '';
  display: block;
  position: absolute;
  width: 54.49101796%;
  height: 1157px;
  background: #ededed;
  z-index: -1111;
  top: 0;
}
.common:before {
  content: '';
  display: block;
  position: absolute;
  width: 54.49101796%;
  height: 815px;
  background: #004b9a;
  z-index: -111;
  top: 1157px;
}
.mainDog {
  display: block;
  position: absolute;
  z-index: -50;
  top: 121px;
  right: 4.7%;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 121px;
}
.header div:first-child {
  display: block;
  position: relative;
  width: 94px;
  height: 80px;
  margin: 19px auto auto 6.3%;
}
.header .navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 23%;
  height: 18px;
  padding: 0;
  margin: 51px auto auto 2.3%;
}
.header .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: auto;
  height: auto;
  padding: 0;
  margin: 31px 12% auto auto;
}
.header .phone img {
  display: block;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: auto 0;
}
.header .phone span {
  display: inline-block;
  width: 142px;
  height: 18px;
  padding: 0;
  margin: auto 55px auto 17px;
}
.header .phone button {
  display: block;
  width: 178px;
  height: 55px;
  background: #cd3a0d;
  border-radius: 3px;
  border: none;
}
.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 450px;
  height: 200px;
  padding: 0;
  margin: 105px auto auto 6.3%;
}
.heading h5,
.heading h3 {
  margin: 0;
}
.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  width: 1120px;
  height: 156px;
  padding: 0;
  margin: 127px auto 148px 6.3%;
  background: #fff;
}
.advantage div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 293px;
  height: 100%;
}
.advantage div img {
  display: block;
  position: relative;
  width: 42px;
  top: 46px;
}
.advantage div h6 {
  display: inline-block;
  position: relative;
  width: 90px;
  left: 81px;
  margin: 0 0 10px 0;
}
.advantage div p {
  display: inline-block;
  position: relative;
  width: 210px;
  left: 81px;
  margin: 0;
}
.advantage div:nth-child(2) {
  width: 298px;
}
.advantage div:nth-child(2) p {
  width: 215px;
}
.advantage div:last-child {
  width: 288px;
}
.advantage div:last-child p {
  width: 205px;
}
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  height: 212px;
  padding: 0;
  margin: 0 auto auto 6.3%;
}
.about p:nth-child(2) {
  top: 65px;
  left: 0;
}
.about h3 {
  display: inline-block;
  position: absolute;
  width: 392px;
  height: 102px;
  top: 99px;
  left: 750px;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}
.about h3:before {
  content: '';
  display: block;
  position: absolute;
  width: 387px;
  height: 37px;
  top: 93px;
  left: 2.4px;
  z-index: -111;
  background: #cd3a0d;
}
.inspection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 587px;
  height: auto;
  padding: 0;
  margin: 39px auto auto 6.3%;
}
.inspection div {
  width: 263px;
  margin-bottom: 44px;
}
.inspection div img {
  width: 263px;
  margin-bottom: 15px;
  border: solid 2px #e2e2e2;
  -webkit-box-shadow: 0 0 23px 1px rgba(0, 0, 0, 0.38);
          box-shadow: 0 0 23px 1px rgba(0, 0, 0, 0.38);
}
.inspection div p {
  dispaly: inline-block;
  margin: 0;
}
.inspection div:first-child,
.inspection div:nth-child(3) {
  margin-right: 57px;
}
.inspection div:first-child p {
  width: 90%;
}
.inspection div:last-child {
  width: 100%;
  padding: 0;
  margin: 0;
}
.inspection div:last-child img {
  width: 582px;
}
.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  float: right;
  width: 262px;
  height: 269px;
  top: -594px;
  right: 14.8%;
  margin: 0;
}
.video h5 {
  margin: 0;
}
.video img:nth-child(2) {
  display: block;
  position: relative;
  width: 224px;
  height: 224px;
  margin: 0;
  top: 26px;
  left: 38px;
}
.video img:last-child {
  display: block;
  position: absolute;
  width: 35px;
  height: 25px;
  top: 145px;
  left: 133px;
  margin: 0;
}
.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 1142px;
  top: -92px;
  margin: 0 0 0 6.3%;
}
.service h4 {
  display: inline-block;
  position: absolute;
  height: 105px;
  width: 360px;
  margin: 0;
  top: 140px;
  left: -210px;
  color: rgba(31, 40, 55, 0.2);
  font-family: 'Oswald', sans-serif;
  font-size: 125px;
  line-height: 85px;
  letter-spacing: 10px;
  font-weight: 600;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  z-index: -5;
}
.service div {
  margin: 0 0 28px 0;
  padding: 0;
  height: 212px;
}
.service div p {
  display: inline-block;
  position: absolute;
  width: 246px;
  height: 54px;
  background: rgba(0, 0, 0, 0.5);
}
.service div img {
  width: 360px;
  height: 100%;
  margin: 0;
}
.service div:nth-child(5),
.service div:nth-child(6),
.service div:last-child {
  margin: 0;
}
.service .--p1 {
  padding: 12px 30px 11px 28px;
}
.service .--p2 {
  width: 259px;
  padding: 12px 25px 11px 31px;
}
.service .--p3 {
  width: 285px;
  height: 32px;
  padding: 12px 13px 13px 32px;
}
.service .--p4 {
  width: 209px;
  height: 75px;
  padding: 12px 90px 10px 31px;
}
.service .--p5 {
  width: 244px;
  padding: 12px 56px 11px 30px;
}
.service .--p6 {
  width: 279px;
  height: 32px;
  padding: 12px 20px 13px 31px;
}
.trust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 7px 0 67px 0;
}
.trust h3 {
  height: 48px;
  margin-bottom: 80px;
}
.trust > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 100%;
  height: 162px;
  padding: 0;
  margin: 0;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}
.trust > div .sliderWrap {
  width: 1219px;
  height: 91px;
  overflow: hidden;
  margin: auto 0;
}
.trust > div .sliderWrap .slider {
  width: 3100px;
  height: 100%;
}
.trust > div .sliderWrap .slider img {
  float: left;
  height: 90px;
  margin: 0 50px;
}
.trust > div .sliderWrap .slider #gzp {
  width: 180px;
  margin: 0 110px 0 60px;
}
.trust > div .sliderWrap .slider #buy {
  width: 261px;
  margin: 0 69.5px;
}
.trust > div .sliderWrap .slider #teach {
  width: 200px;
  margin: 0 100px;
}
.trust > div .sliderWrap .slider #road {
  width: 250px;
  margin: 0 75px;
}
.trust > div .sliderWrap .slider #lg {
  width: 190px;
  margin: 0 105px;
}
.trust > div .sliderWrap .slider img:last-child {
  margin: 0 0 0 50px;
}
.trust > div .left,
.trust > div .right {
  width: 19px;
  height: 37px;
  margin: auto 0;
  border: none;
  background: url(../img/left.png);
  outline: none;
}
.trust > div .left {
  margin-left: 2.15%;
  margin-right: 1%;
}
.trust > div .right {
  margin-left: 1%;
  background: url(../img/right.png);
}
.trust > div button:hover {
  cursor: pointer;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 65px;
  background: #ebebeb;
}
.footer .contact,
.footer .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 304px;
  height: 150px;
  padding: 0;
  margin: 65px 0 0 6.3%;
}
.footer .contact .navmenu,
.footer .adress .navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0;
  margin: 0;
}
.footer .contact img,
.footer .adress img {
  width: 81px;
  height: 65px;
  margin: 0;
}
.footer .contact .social,
.footer .adress .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 70%;
  height: 40px;
  padding: 0;
  margin: 0;
}
.footer .contact .social div,
.footer .adress .social div {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.footer .contact .social .social--facebook,
.footer .adress .social .social--facebook {
  background: url(../img/social.jpg);
  background-position: -0.5px 0;
}
.footer .contact .social .social--vk,
.footer .adress .social .social--vk {
  background: url(../img/social.jpg);
  background-position: -72.5px 0;
}
.footer .contact .social .social--instagram,
.footer .adress .social .social--instagram {
  background: url(../img/social.jpg);
  background-position: -146.5px 0;
}
.footer .adress {
  width: 360px;
  margin-left: auto;
  margin-right: 11.9%;
}
.footer .adress p {
  margin: 0;
}
.footer .adress p:nth-child(2) {
  margin-top: 17px;
}
.footer .adress p:nth-child(3) {
  margin-bottom: 17px;
}
